<html>
<head>
  <title>Login Form</title>
  <link rel="Stylesheet" type="text/css" href="Style.css">
  <body>
    <div class="loginbox">
<img src="avatar2.png" class="avatar">
      <h1>Login Here</h1>
      <form action="/login" method="post">
        <p>Usernamne</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
        <a href="profil.html"Forgot Password?</a><br>
        <a href="profil.html">Don't have an account?</a>
      </form>
    </div>
    </body>
</head>
</html>
